Package: me.krit.notdoxed
Name: NotDoxed
Version: 1.2
Architecture: iphoneos-arm
Description: Hide personal info in common apps.
Maintainer: WilsontheWolf
Author: krit
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://repo.shorty.systems/depictions/web/me.krit.notdoxed
SileoDepiction: https://repo.shorty.systems/depictions/sileo/me.krit.notdoxed
